<header>
  <h1>Hangman</h1>
</header>
<p>
  <% if @secret_word %>
  <%= @secret_word %>
  <% end %>
</p>

<div class="display">
  <% if @display %>
    <%= @display.join(" ") %>
  <% end %>
</div>

<div class="input">
  <form action="/" method="POST">
    <input type="text" autofocus name="guess" autocomplete="off" title="Pick single letter" size="1">
  </form>
</div>

<div class="info">
  <p><%= "Turns remaining: #{@turns}"%></p>
  <p><%= "Missed guesses: #{@missed_letters}"%></p>
</div>
